
.slide_container{
	font-family:georgia,garamond,serif;
	font-size:20px;
	position: relative;
	width:90vw;
	height:90%;
	visibility: hidden;
}

.multi_slide_container{
	font-family:georgia,garamond,serif;
	font-size:20px;
	position: relative;
	height:90%;
	visibility: hidden;
}

.slide_title{
	font-size:50px;
	margin-left:5vw;
	text-align: center;
	display: inline-block;
	margin-top: 10vh;
	position: absolute;
}

.multi_slide_title{
	font-size:50px;
	margin-left:5vw;
	text-align: left;
	display: inline-block;
	margin-top: 10vh;
	position: absolute;
	width: 50vw;
}


.slide_content{
	position: relative;
	text-align: left;
	margin-left: 10vh;
	margin-right: 10vh;
	margin-top: 30vh;
	display: inline-block;	
	
}

.Title {
	width:50%;
	margin: auto;
}
.Title h1 {
	margin: 10px 5px 5px 5px;
	font-size:45px;
}

.Title h4 {
	margin: 5px;
	font-size:20px;
}


.logos {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;
	width: 50%; 
}

.logos img {
	width: 40%;
	max-height: 90px;
	display: inline-block;
	margin: 20px;
}


#slide_1{
	position: absolute;
    top: 50%;
	vertical-align: middle;
	display: table-cell;
}

ul{
	list-style-type: none;
}

li{
	padding-bottom: 10px;
}

li img{
	max-height: 15%;
	max-width:400px;
	margin: 20px;
}

#slide_3 {
	
}